<ion-header *ngIf='false'>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf='spinnerActive' icon='bubbles' id='spinner'></ion-spinner>
  <ion-grid id='loginGrid' no-padding>

    <!-- <ion-row>
      <ion-col id="background" col-12>
        <img src="../assets/imgs/reboot.png">
          <h1 id="title">INTRANSITION</h1>
      </ion-col>
    </ion-row> -->
    
    <div id="background"></div>    
    
    <div id='newInput'>
      <form [formGroup]="loginCreds" (ngSubmit)="login()" id='login'>

        <ion-item color='none'>
          <ion-label floating>Username</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>

        </ion-item>

        <ion-item color='none' no-lines *ngIf="!loginCreds.controls.email.valid  && (loginCreds.controls.email.dirty || submitAttempt)">
          <p text-center class="invalid-text">Please enter a valid email</p>
        </ion-item>

        <ion-item color='none'>
          <ion-label floating>Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-item color='none' no-lines *ngIf="!loginCreds.controls.password.valid  && (loginCreds.controls.password.dirty || submitAttempt)">
            <!-- <p text-center class="invalid-text">Password contains 6-30 letters, numbers, or special characters</p> -->
        </ion-item>

            <button id="loginbutton" type="submit" ion-button block [disabled]="!loginCreds.valid">LOGIN</button>  
      </form>
        <button (click)="toRegisterPage()" id="signupbutton" ion-button block>SIGN UP</button>
    </div>

  </ion-grid>

</ion-content>