<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div id="header">
    <h1 id="title">INTRANSITION</h1>
  </div>

  <form [formGroup]="loginCreds" (ngSubmit)="login()">
    <ion-grid>

      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
          <h2 text-center>Transitioning from the military to civilian environment is more than just a job change.</h2>
          <br>
          <h2 id="lifechange" text-center>It's a life change.</h2>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
          <ion-label class="labels"  style="font-size: 25px" stacked>EMAIL ADDRESS</ion-label>
          <ion-input formControlName="email" class="inputs" id="email" type="email"></ion-input>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
          <ion-item no-lines *ngIf="!loginCreds.controls.email.valid  && (loginCreds.controls.email.dirty || submitAttempt)">
            <p class="invalid-text">Please enter a valid email</p>
          </ion-item><br>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
          <ion-label class="labels" style="font-size: 25px" stacked>PASSWORD</ion-label>
          <ion-input formControlName="password" class="inputs" id="password" type="password"></ion-input>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
          <ion-item no-lines *ngIf="!loginCreds.controls.password.valid  && (loginCreds.controls.password.dirty || submitAttempt)">
            <p class="invalid-text">Please enter a password</p>
          </ion-item><br>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col>
          <button id="loginbutton" type="submit" ion-button block [disabled]="!loginCreds.valid">LOGIN</button>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-1></ion-col> 
        <ion-col>
          <h3 text-center>If you don't have an account yet, you can register now.</h3>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col>
          <button (click)="toRegisterPage()" id="signupbutton" ion-button block>SIGN UP</button>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>