page-login {

    * {
       scroll-behavior: smooth; 
    }
    
    #loginGrid {
        background: linear-gradient(to bottom, rgba(125,185,232,0) 26%,rgba(125,185,232,0.5) 56%,rgba(0,108,122,0.65) 72%,rgba(0,107,122,0.66) 73%,rgba(5,90,130,1) 93%);
    }

    #newInput {
        position: absolute;
        background-color: #343434c4;
        width: 90%;
        top: 365px;
        margin-left: 5%;
        border-radius: 3px;
        padding-bottom: 2%;
        padding-right: 5%;
        z-index: 5;
    }

    .scroll-content{
        overflow: hidden;
        overflow-y: none;
    }
    .item-ios {
        background-color: none;
    }

    #tologin {
        width: 100%;
        top: 86%;
        position: absolute;
        font-size: 12vh;
        text-align: center;
        color: #2459f88a;
        content: "\f289";
    }

    #spinner {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 30%;
        z-index: 1000;
        stroke: #488aff;
        fill: #488aff;

        display: block;
        margin-right: auto;
        width: 100%;
      }
    
    #background {
        display: flex;
        padding: 65px;
        justify-content: center; 
        align-items: center; 
        z-index: -1;
        background-image: url('../assets/imgs/bk/bk1.jpg');
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
        // width: 100vh;
        height: 100vh;
        transition: 4s;
        
    }

    #overlay {
        position: fixed;
        width: 100%; 
        height: 100%;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3);
        z-index: 1;
    }

    #title {
        letter-spacing: 3px; 
        font-weight: bold; 
        font-family: proxima-nova; 
        font-size: 70px; 
        color: #e3e3e3;
        text-shadow: 4px 4px 4px #000000;
    }

    #lifechange {
        font-weight: bold;
    }

    .labels {
        color: rgb(96,96,96); 
    }
    
    #email:before {
        font-family: "Font Awesome 5 Free";
        font-size: 30px;
        font-weight: 900;
        color: rgb(130,180,64);
        content: "\f007";
        position: absolute;
        left: 10px;
        top: 10px;
    }

    #password:before {
        font-family: "Font Awesome 5 Free";
        font-size: 30px;
        font-weight: 900;
        color: rgb(130,180,64);
        content: "\f023";
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .inputs {
        position: relative;
        border: 1px solid rgb(229, 230, 230);
        background-color: rgb(248, 248, 248); 
        padding-left: 60px; 
        font-size: 25px
    }

    .invalid-text {
        font-size: 14px;
        color: #ea6153;
      }

    #loginbutton {
        background-color: rgb(130,180,64); 
        font-size: 20px;
        height: 2.1em;
        margin-left: 3%;
        margin-bottom: 3%;
        margin-top: 5%;

        display: block;
        margin-right: auto;
        width: 100%;
    }

    #signupbutton {
        background-color: rgb(42,61,79); 
        font-size: 20px;
        height: 2.1em;
        margin-left: 3%;
        margin-bottom: 3%;

        display: block;
        margin-right: auto;
        width: 100%;
    }

    @media screen and (orientation:portrait){
        #title {
            letter-spacing: 3px; 
            font-weight: bold; 
            font-family: proxima-nova; 
            font-size: 40px; 
            color: white;
        }     
    }

    @media screen and (orientation:landscape){
        .button{
            margin:auto;
            width:80%;
            height: 2.1em;
        }
        #loginbutton {
            background-color: rgb(130,180,64); 
            font-size: 25px;
        }
    
        #signupbutton {
            background-color: rgb(42,61,79); 
            font-size: 25px
        }

        #header {
            padding: 20px;
        }

        .inputs {
            margin: auto;
            width: 80%;
        }
        
        .icons {
            left: 140px;
        }

        .invalid-text {
            font-size: 12px;
            color: #ea6153;
            // margin: auto;
            width: 70%;
        }

        .labels {
            padding-left: 10%;
            font-size: 25px;

        }

        
    }

}

