<!--
  Generated template for the TransitionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transition</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <canvas #canvas id="canvas"></canvas>
  <ion-list>
    <ion-card *ngFor="let area of areas; let i = index">
      <ion-card-header>
        <div id="categoryAndView">
          <h1 id="category">{{area.title}}</h1>
          <button (click)="toggleSection(area)">View</button>
        </div>
      </ion-card-header>
      <ion-card-content id="areaDescription">
        <span> {{area.intro}} </span>
        <span *ngIf="!area.expand; else content"> ... </span>
        <ng-template #content> {{ area.description }} </ng-template><br><br>
        <p text-center style="font-size: 20px"> RATE HOW WELL YOU'RE DOING BY DRAGGING THE SLIDER TO THE NUMBER </p>
        <ion-range pin="true" id="range" min="0" max="10" step="1" snaps="true" [(ngModel)]="area.number" (ionChange)="changeData(i, area.number)">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>10</ion-label>
        </ion-range>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>