<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div class="ion-card">
    <div class="card-title">INTRANSITION</div>
  </div>
  <div class="message">
    <p>Transitioning from the military to civilian environment<br>
      is more than a job change 
    </p>
    <p><strong>It's a life change
    </strong><p>
  </div>

    <form class="form" [formGroup]='validate' (ngSubmit)='regform()'>
      <ion-item class="input" no-lines>
        <ion-input 
          class="input" 
          type="text" 
          #first 
          placeholder="First Name" 
          formControlName='first' 
          [class.invalid]="!validate.controls.first.valid && (validate.controls.first.dirty || submitAttempt)">
        </ion-input> 
      </ion-item>
      <ion-item class="input" no-lines *ngIf="!validate.controls.first.valid  && (validate.controls.first.dirty || submitAttempt)">
        <p class="invalid-text">Enter a valid name</p>
      </ion-item><br>

      <ion-item class="input" no-lines>
        <ion-input 
          class="input" 
          type="text" 
          #last 
          placeholder="Last Name" 
          formControlName='last'
          [class.invalid]="!validate.controls.last.valid && (validate.controls.last.dirty || submitAttempt)"></ion-input> 
      </ion-item>
      <ion-item class="input" no-lines *ngIf="!validate.controls.last.valid  && (validate.controls.last.dirty || submitAttempt)">
        <p class="invalid-text">Enter a valid name</p>
      </ion-item><br>
      
      <ion-item class="input" no-lines>
        <ion-input 
          class="input" 
          type="email" 
          #email 
          placeholder="Email Address" 
          formControlName='email'
          [class.invalid]="!validate.controls.email.valid && (validate.controls.email.dirty || submitAttempt)"></ion-input> 
      </ion-item>
      <ion-item class="input" no-lines *ngIf="!validate.controls.email.valid  && (validate.controls.email.dirty || submitAttempt)">
        <p class="invalid-text">Enter a valid email</p>
      </ion-item><br>
      
    <div formGroupName="pass">
      <ion-item class="input" no-lines>
        <ion-input 
          class="input" 
          type="password" 
          #pass 
          placeholder="Password" 
          formControlName='password'
          [class.invalid]="!validate.controls.pass.controls.password.valid && (validate.controls.pass.controls.password.dirty || submitAttempt)"></ion-input> 
      </ion-item>
      <ion-item class="input" no-lines *ngIf="!validate.controls.pass.controls.password.valid  && (validate.controls.pass.controls.password.dirty || submitAttempt)">
        <p class="invalid-text">Enter a password between 6-30 characters using only letters and numbers</p>
      </ion-item><br>
      
      <ion-item class="input" no-lines>
        <ion-input 
          class="input" 
          type="password" 
          #repass 
          placeholder="Password Confirmation" 
          formControlName='passwordCheck'
          [class.invalid]="!validate.controls.pass.controls.passwordCheck.valid && (validate.controls.pass.controls.passwordCheck.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item class="input" no-lines *ngIf="!validate.controls.pass.valid  && (validate.controls.pass.controls.passwordCheck.dirty || submitAttempt)">
        <p class="invalid-text">Password does not match</p>
      </ion-item>
      <!--
      <div class="error" *ngIf="validate.get('pass.passwordCheck').dirty && validate.get('pass.passwordCheck').hasError('nomatch')">
        Email addresses must match
      </div>
      -->
    </div>

      <button id="register-button"color="secondary" ion-button [disabled]="!validate.valid">REGISTER </button>
    </form>
    
    <div class='login2'>
      <p id="sign-in">If you already have an account, sign in.</p>
      <button id="login-button"color="primary" ion-button>LOGIN</button>
    </div>
    
</ion-content>
