<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div id="header">
    <h1 id="title">INTRANSITION</h1>
  </div>
  <!--
  <div class="ion-card">
    <div class="card-title">INTRANSITION</div>
  </div>
-->
  <ion-grid>

    <ion-row justify-content-center>
      <ion-col col-7 col-xl-6>
        <h2 text-center>Transitioning from the military to civilian environment is more than just a job change.</h2>
        <br>
        <h2 id="lifechange" text-center>It's a life change.</h2>
      </ion-col>
    </ion-row>

    <form class="form" [formGroup]='validate' (ngSubmit)='submitReg()'>

      <ion-row justify-content-center>
        <ion-col col-7 col-xl-6>
          <ion-item no-lines>
            <ion-input 
              [(ngModel)]="registerUser.firstName"
              class="inputs"
              type="text" 
              placeholder="First Name" 
              formControlName='first' 
              [class.invalid]="!validate.controls.first.valid && (validate.controls.first.dirty || submitAttempt)">
            </ion-input> 
          </ion-item>
          <ion-item no-lines *ngIf="!validate.controls.first.valid  && (validate.controls.first.dirty || submitAttempt)">
            <p class="invalid-text">Enter a valid name</p>
          </ion-item><br>
        </ion-col>
      </ion-row>

      <ion-row justify-content-center>
        <ion-col col-7 col-xl-6>
          <ion-item no-lines>
            <ion-input 
              [(ngModel)]="registerUser.lastName"
              class="inputs" 
              type="text" 
              placeholder="Last Name" 
              formControlName='last'
              [class.invalid]="!validate.controls.last.valid && (validate.controls.last.dirty || submitAttempt)"></ion-input> 
          </ion-item>
          <ion-item no-lines *ngIf="!validate.controls.last.valid  && (validate.controls.last.dirty || submitAttempt)">
            <p class="invalid-text">Enter a valid name</p>
          </ion-item><br>
        </ion-col>
      </ion-row>
      
      <ion-row justify-content-center>
        <ion-col col-7 col-xl-6>
          <ion-item no-lines>
            <ion-input 
              [(ngModel)]="registerUser.email"
              class="inputs" 
              type="email" 
              placeholder="Email Address" 
              formControlName='email'
              [class.invalid]="!validate.controls.email.valid && (validate.controls.email.dirty || submitAttempt)"></ion-input> 
          </ion-item>
          <ion-item no-lines *ngIf="!validate.controls.email.valid  && (validate.controls.email.dirty || submitAttempt)">
            <p class="invalid-text">Enter a valid email</p>
          </ion-item><br>
        </ion-col>
      </ion-row>

      <div formGroupName="pass">
        <ion-row justify-content-center>
          <ion-col col-7 col-xl-6>
            <ion-item no-lines>
              <ion-input  
                class="inputs"
                type="password" 
                placeholder="Password" 
                formControlName='password'
                [class.invalid]="!validate.controls.pass.controls.password.valid && (validate.controls.pass.controls.password.dirty || submitAttempt)">
              </ion-input> 
            </ion-item>
            <ion-item no-lines *ngIf="!validate.controls.pass.controls.password.valid && (validate.controls.pass.controls.password.dirty || submitAttempt)">
              <p class="invalid-text">Enter a password between 6-30 characters using letters and numbers</p>
            </ion-item><br>
          </ion-col>
        </ion-row>
        
        <ion-row justify-content-center>
          <ion-col col-7 col-xl-6>
            <ion-item no-lines>
              <ion-input 
                class="inputs"
                type="password" 
                placeholder="Password Confirmation" 
                formControlName='passwordCheck'
                [class.invalid]="!validate.controls.pass.controls.passwordCheck.valid && (validate.controls.pass.controls.passwordCheck.dirty || submitAttempt)">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row> 

        <ion-row justify-content-center>
          <ion-col col-7 col-xl-6>
            <ion-item no-lines *ngIf="!validate.controls.pass.valid  && (validate.controls.pass.controls.passwordCheck.dirty || submitAttempt)">
              <p class="invalid-text">Passwords do not match</p>
            </ion-item><br>
          </ion-col>
        </ion-row>
      </div>


      <ion-row justify-content-center>
        <ion-col col-5 col-xl-4>
          <button id="regButton" ion-button block [disabled]="!validate.valid" type="submit">REGISTER</button>
        </ion-col>
      </ion-row>

    </form>
  
    <ion-row justify-content-center>
      <ion-col col-8>
        <h3 text-center>Login if you already have an account.</h3>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col class="button-col" col-5 col-xl-4>
        <button id="loginButton" ion-button block (click)="goLogin()">LOGIN</button>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
