<head>
  <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_6df9b0bc92d7670f82a1d8650");</script>
  <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
</head>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col>
        <h1 id="hello" text-center>Hello, {{ this.name }}!</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="cards">
          <ion-card-content id="welcome" text-center>
            Welcome to the Military and Veteran's "InTransition" Personal Transition Assistant. Your personal guide to
            a successful transition
            from military to civilian life.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="sep">
          <ion-card-header class="headers" text-center *ngIf="daysTilSep > 0">
            {{daysTilSep}} Days Until Separation!
          </ion-card-header>
          <ion-card-header class="headers" text-center *ngIf="daysTilSep == 0">
              Your Separation Date is Today!
            </ion-card-header>
            <ion-card-header class="headers" text-center *ngIf="daysTilSep < 0">
              Your Separation Was {{daysTilSepAbs}} Days Ago!
              </ion-card-header>
          <ion-card-content id="separationContent">
            You're getting close to your separation day! Are you preparing for the transition? 
            Being informed and prepared will make your transition into civilization easier to see what your next steps
            are. The next step is:
            <br>
            <h4 class="actionItemText"> {{ currentActionItem }} </h4>
            <a (click)="toTimeline()" id="separationLink">See what's next
              <ion-icon class="linkIcons" name="arrow-round-forward"></ion-icon>
            </a>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="news">
          <ion-card-header class="headers" text-center>
            Veterans Affairs News
          </ion-card-header>
          <ion-card-content id="separationContent">
              <news-widget></news-widget>
            <a id="separationLink" (click)="toNews()">More news

              <ion-icon class="linkIcons" name="arrow-round-forward"></ion-icon>
            </a>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="cards">
          <ion-card-header class="headers" text-center>
            Transition Readiness Test
          </ion-card-header>
          <ion-card-content *ngIf="!prevAssess">
              Please complete a Self Assessment
              <button class="button1" (click)="toSelfAssessment()" ion-button>Self Assessment</button>              
          </ion-card-content>
          <ion-card-content *ngIf="prevAssess">
            <chart></chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="cards">
          <ion-card-header id="networkHeader" class="headers" text-center>
            Build Your Network
          </ion-card-header>

          <br>

          <ion-card-content id="networkingContent">
            <img id="networkingImage" src="../../assets/imgs/Networking.jpg">
            <p id="networkingAdvice">People who are truly successful commit themselves continuously to learning and
              improving themselves. Are you
              a 10 - committed to learning as much as you can about life? Are you constantly experiencing new
              opportunities?
              Do you regularly read to learn and grow? Are you open to improving and stretching yourself? The fact that
              you
              are reading this demonstrates a certain level of commitment to develop yourself so you are not a 1 or
              even
              a 2.</p>

            <br>
            <a id="networkingLink">Learn More
              <ion-icon class="linkIcons" name="arrow-round-forward"></ion-icon>
            </a>
          </ion-card-content>
        </ion-card>
      </ion-col>\              <div class="feedgrabbr_widget" id="fgid_6df9b0bc92d7670f82a1d8650"></div>

    </ion-row>
    <div class="feedgrabbr_widget" id="fgid_6df9b0bc92d7670f82a1d8650"></div>

  </ion-grid>
</ion-content>
