page-dashboard {

    #hello {
        font-weight: bold;
        font-size: 40px;
    }

    #welcome {
        font-size: 20px;
    }

    .cards {
        background-color: rgb(250,250,250);
    }

    .headers {
        font-weight: bold; 
        font-size: 30px;
    }

    #separationContent {
        padding-bottom: 0px;
        font-size: 20px;
    }

    #separationLink {
        float: right; 
        padding-bottom: 10px;
        font-size: 20px;
    }

    .linkIcons {
        font-weight: bold; 
        font-size: 40px; 
        position: relative; 
        top: 10px; 
        padding-left: 5px
    }

    #lifeWheelContent {
        display: flex; 
        justify-content: center
    }

    #lifeWheel {
        width: 250px; 
        height: 250px;
    }

    #networkingContent {
        padding: 0px 16px; 
        display: flex; 
        justify-content:flex-end; 
        flex-wrap: wrap
    }

    #networkHeader {
        padding: 16px 0px 0px 0px;
    }

    #networkingImage {
        width: 50%; 
        height: 300px
    }

    #networkingAdvice {
        width: 50%; 
        font-size: 20px;
        padding-left: 20px;
    }

    #networkingLink {
        padding-top: 0px; 
        position: relative; 
        top: -7px;
        font-size: 20px;
    }
}
