page-dashboard {

    #hello {
        font-weight: bold;
        font-size: 40px;
    }

    #welcome {
        font-size: 20px;
    }

    .button1{
        width: 138px;
        height:42px;
        background-color: rgb(26, 39, 71);
        padding: 0px;
    }

    .cards {
        background-color: color($colors, light);
        position: relative;
    }

    .sep {
        background-color: color($colors, light);
    }
    .news {
        background-color: color($colors, light);
        }

    .headers {
        font-weight: bold; 
        font-size: 30px;
    }

    #separationContent {
        padding-bottom: 0px;
        font-size: 20px;
    }

    .actionItemText {
        font-size: 24px;
        text-align: center;
    }

    #separationLink {
        float: right; 
        float: end;
        padding-bottom: 8px;
        font-size: 20px;
    }
    #newsLink {
        float: right;
    }

    .linkIcons {
        font-weight: bold; 
        font-size: 40px; 
        position: relative; 
        top: 10px; 
        padding-left: 5px
    }

    .row2 {
        min-height: 35vh;
    }

    .dashboardLinks {
        position:absolute;
        bottom:0;
        right: 1vw;
    }

    #networkingContent {
        padding: 0px 16px; 
        display: flex; 
        justify-content:flex-end; 
        flex-wrap: wrap
    }

    #networkHeader {
        padding: 16px 0px 0px 0px;
    }

    #networkingImage {
        width: 50%; 
        height: 100%;
    }

    #networkingAdvice {
        width: 50%; 
        font-size: 20px;
        padding-left: 20px;
    }

    @media (max-width: 1100px) and (min-width: 700px) { 
        .row2 {
            min-height: 25vh;
        }
    }    

     #networkingLink {
       padding-top: 0px; 
       position: relative; 
       top: -7px;
       font-size: 20px;
    }

    .image {
        width:70%;
        height: 100%;
    }

    .action-item-title{
        font-weight: bold;
    }
}

// .toaster{
//     text-align: center;
// }