page-dashboard {

    #hello {
        font-weight: bold;
        font-size: 40px;
    }

    #welcome {
        font-size: 26px;
        color:#2a3d4f;
        font-weight: bold;
    }

    .button1{
        width: 138px;
        height:42px;
        background-color: rgb(26, 39, 71);
        padding: 0px;
    }

    .cards {
        // background-color:#dff1d31f;
        background-color: #5f9ad629;
        // background-color: color($colors, light);
        position: relative;
    }

    .sep {
        // background-color: color($colors, light);
    }
    .news {
        // background-color: color($colors, light);
        }

    .headers {
        font-weight: bold; 
        font-size: 26px;
        padding: 16px;
        font-size: 24px;
        color: #2a3d4fb3;
    }

    #separationContent {
        padding-bottom: 0px;
        font-size: 20px;
    }

    .actionItemText {
        font-size: 20px;
        text-align: center;
    }

    #separationLink {
        float: right; 
        float: end;
        padding-bottom: 10px;
        // padding-right: 20px;
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
    }
    #newsLink {
        float: right;
    }
     // news widget title
     .title {
        color:#2a3d4f9e;
        font-weight: bold;
        font-size: 22px;
    }

    //the smallest the timestamp can go is 22px for some reason
    .timestamp {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .warningMeter {
        display: flex; 
        justify-content: center;
        margin-top: 2em;
        align-items: center;
        align-content: center;
        padding: 0 3em 0 3em;
      }
      
      .box {
        background-color: grey;
        height: 125px; 
        width: 80px; 
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 15rem;
        // padding: 1rem;
      }
      
      .good {
        background-color: green;
      }
      
      .weak {
        background-color: yellow;
      }
      
      .poor {
        background-color: orange;
      }
      
      .danger {
        background-color: red;
      }

      .grow {
          height: 100px; 
          flex-basis: 25rem;
          padding: 5rem 1rem;
          font-size: 2.5em;
          text-decoration: underline;
          border-radius: 10px;
      }

    .range {
        text-align: center;
        font-weight: bold;
        padding-top: 5px;
    }

    .zoneWrapper {
        display: flex; 
        justify-content: center;
        margin-top: 40px;
    }
    .conditionP {
        font-size: 16px;
    }

    .card-md p {
        font-size: 1.6em;
    }

    .assessmentButton {
        font-weight: bold;
        font-size: 1.6em;
    }

    .assessmentConditionMetButton {
        font-size: 1em;
    }

    .whyTakeAssessmentHeader {
        font-weight: bold; 
        text-decoration: underline;
    }

    .headerWrapper {
        text-align: center;
        padding: 20px 40px 10px 40px;
    }

    .ifUndefined {
        text-align: center;
    }

    .zoneExHeader {
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .greenHeader {
        color: green;
    }

    .yellowHeader {
        color: yellow
    }

    .orangeHeader {
        color: orange;
    }

    .redHeader {
        color: red;
    }

    .zoneDescription {
        margin-top: 15px;
        line-height: 1.5;
    }

    .graphDescriptionWrapper {
        text-align: center;
    }
    .graphDescription {
        margin-top: 5%;
    }

    .hoverOverDescripition {
        margin-top: 5%;
    }

    .dashboardLinks {
        // position:absolute;
        bottom:0;
        right: 1vw;
    }

    .cardLinks {
        display: flex;
        flex-flow: row-nowrap;
        justify-content: center;
        align-items: center;
    }

    .linkIcons {
        font-size: 40px; 
        margin: 10px;

    }

    #networkingContent {
        padding: 0px 16px; 
        display: flex; 
        justify-content:flex-end; 
        flex-wrap: wrap
    }

    #networkHeader {
        padding: 16px 0px 0px 0px;
    }

    #networkingImage {
        width: 50%; 
        height: 100%;
    }

    #networkingAdvice {
        width: 50%; 
        font-size: 20px;
        padding-left: 20px;
    }

    @media (max-width: 1100px) and (min-width: 700px) { 
        .row2 {
            min-height: 25vh;
        }
    }  

    .image {
        width:70%;
        height: 100%;
        
    }

    .action-item-title{
        font-weight: bold;
        font-size: 24px;
        color: #2a3d4fb3;
    }

    .input-wrapper {
        background-color: transparent;
    }

    button {
        background-color: transparent;
        color: #488aff;
    }

    button:hover {
        color: #8eafe8;
    }
    
   
    .card-content ion-item.item-block {
        min-height: 2rem;
    }
  
    .currentActionItemBody {
        font-size: 20px;
    }

}

