page-dashboard {


    .welcome {
        font-size: 26px;
        color:#2a3d4f;
        font-weight: bold;
    }

    .cards {
        background-color: #5f9ad629;
    }
    .headers {
        font-weight: bold; 
        font-size: 26px;
        padding: 16px;
        font-size: 24px;
        color: #2a3d4fb3;
    }

    .actionItemText {
        font-size: 20px;
        text-align: center;
    }
     
    .card-md p {
        font-size: 1.6em;
    }


    .graphDescriptionWrapper {
        text-align: center;
    }

    .graphDescription {
        margin-top: 5%;
    }

    .cardLinks {
        display: flex;
        flex-flow: row-nowrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        font-size: 20px;
    }

    .linkIcons {
        font-size: 40px; 
        margin: 10px;
    }

    .networkImages {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
    }

    #networkingImage {
        width: 25%; 
        height: 25%;
    }

    .networkingAdvice {
       padding: 0px 30px 10px 30px; 
        font-size: 18px;
        text-align: center;
    }

    .input-wrapper {
        background-color: transparent;
    }

    button:hover {
        color: #8eafe8;
    }
    
    .card-content ion-item.item-block {
        min-height: 2rem;
    }
  
    .currentActionItemBody {
        font-size: 20px;
    }

    .item-md [item-end]{
        margin: 0;
    }

    .button-md {
        font-size: 18px;
    }

    .card-ios p {
        color: black;
        font-size: 18px;
    }

    /* Mobile Styles */
    @media only screen and (max-width: 400px) {
         .welcome {
             font-size: 18px;
         }

         .headers {
             font-size: 18px;
         }
       
         .networkingAdvice {
            font-size: 18px;
            padding: 0px;
         }

         .card-md p {
             font-size: 1em;
         }
    }
    
    /* Tablet Styles */
    @media only screen and (min-width: 401px) and (max-width: 960px) {

        .welcome {
            font-size: 18px;
        }

        .headers {
            font-size: 18px;
        }

         .networkingAdvice {
            padding: 0px;
         }

         .card-md p {
            font-size: 1em;
        }
    }


  


}

