<head>
  <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_6df9b0bc92d7670f82a1d8650");</script>
  <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
</head>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-xl-8 offset-xl-2>
        <ion-card class="cards">
          <ion-card-content class="welcome" text-center>
            Welcome to the Military and Veteran's "InTransition" Personal Transition Assistant. Your personal guide to
            a successful transition
            from military to civilian life.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-xl-4 offset-xl-2>
        <ion-card class="cards">
          <div class="ifUndefined headers" *ngIf="assessDate < 0 || assessDate === undefined">
            {{ this.name }}, please refer to the link below to take your first assessment.
          </div>

          <div class="headers" text-center *ngIf="assessDate">
            {{ this.name }}, it's been <u>{{assessDate}}</u> days since your last assessment.
          </div>

          <div class="warningMeter">
            <div class="box good" [ngClass]="{'grow': assessDate < 7}">
              <p class="range">1-6</p>
            </div>
            <div class="box weak" [ngClass]="{'grow': assessDate >= 7 && assessDate < 12}">
              <p class="range">7-11</p>
            </div>
            <div class="box poor" [ngClass]="{'grow': assessDate >= 12 && assessDate < 20}">
              <p class="range">12-20</p>
            </div>
            <div class="box danger" [ngClass]="{'grow': assessDate >= 20}">
              <p class="range">20+</p>
            </div>
          </div>


          <div class="zoneWrapper">
            <div class="ifUndefined" *ngIf="assesDate < 0 || assessDate === undefined">
              <p class="conditionP"> To find out which range you fall within</p>
              <button class="assessmentButton" (click)="toSelfAssessment()">take your first
                assessment.</button>
            </div>

            <div class="headerWrapper" *ngIf="assessDate > 0 && assessDate < 7">
              <h3 class="zoneExHeader greenHeader">GREEN</h3>
              <p class="zoneDescription"> Being in the green means orem ipsum dolor sit amet, id nec voluptaria
                complectitur concludaturque, iuvaret deleniti mea ne, mea in tractatos instructior. Per id tollit
                latine, bonorum perfecto no nam. </p>
              <br>
              <p class="whyTakeAssessmentHeader">Why assessments are important</p>
              <br>
              <p>Assessments are a vital part of the process... lorem ipsum dolor sit amet, id nec voluptaria
                complectitur concludaturque, iuvaret deleniti mea ne, mea in tractatos instructior. Per id tollit
                latine, bonorum perfecto no nam.</p>
              <br>
              <p>Take another assessment<button class="assessmentConditionMetButton"
                  (click)="toSelfAssessment()">here.</button></p>
            </div>

            <div class="headerWrapper" *ngIf="assessDate >= 7 && assessDate < 12">
              <h3 class="zoneExHeader yellowHeader">YELLOW</h3>
              <p class="zoneDescription"> Being in the yellow means lorem ipsum dolor sit amet, id nec voluptaria
                complectitur concludaturque, iuvaret deleniti mea ne, mea in tractatos instructior. Per id tollit
                latine, bonorum perfecto no nam. </p>
              <br>
              <p class="whyTakeAssessmentHeader">Why assessments are important</p>
              <br>
              <p>Assessments are a vital part of the process... lorem ipsum dolor sit amet, id nec voluptaria
                complectitur concludaturque, iuvaret deleniti mea ne, mea in tractatos instructior. Per id tollit
                latine, bonorum perfecto no nam.</p>
              <br>
              <p>Take another assessment<button class="assessmentConditionMetButton"
                  (click)="toSelfAssessment()">here.</button></p>
            </div>

            <div class="headerWrapper" *ngIf="assessDate >= 12 && assessDate < 20">
              <h3 class="zoneExHeader orangeHeader">ORANGE</h3>
              <p class="zoneDescription"> Being in the orange means lorem ipsum dolor sit amet, id nec voluptaria
                complectitur concludaturque, iuvaret deleniti mea ne, mea in tractatos instructior. Per id tollit
                latine, bonorum perfecto no nam. </p>
              <br>
              <p class="whyTakeAssessmentHeader">Why assessments are important</p>
              <br>
              <p>Assessments are a vital part of the process... lorem ipsum dolor sit amet, id nec voluptaria
                complectitur concludaturque, iuvaret deleniti mea ne, mea in tractatos instructior. Per id tollit
                latine, bonorum perfecto no nam.</p>
              <br>
              <p>Take another assessment<button class="assessmentConditionMetButton"
                  (click)="toSelfAssessment()">here.</button></p>
            </div>

            <div class="headerWrapper" *ngIf="assessDate >= 20">
              <h3 class="zoneExHeader orangeHeader">RED</h3>
              <p class="zoneDescription"> Being in the red means lorem ipsum dolor sit amet, id nec voluptaria
                complectitur concludaturque, iuvaret deleniti mea ne, mea in tractatos instructior. Per id tollit
                latine, bonorum perfecto no nam. </p>
              <br>
              <p class="whyTakeAssessmentHeader">Why assessments are important</p>
              <br>
              <p>Assessments are a vital part of the process... lorem ipsum dolor sit amet, id nec voluptaria
                complectitur concludaturque, iuvaret deleniti mea ne, mea in tractatos instructior. Per id tollit
                latine, bonorum perfecto no nam.</p>
              <br>
              <p>Take another assessment<button class="assessmentConditionMetButton"
                  (click)="toSelfAssessment()">here.</button></p>
            </div>

          </div>

          <ion-card-content>

            <ion-row justify-content-end>
              <button ion-button icon-end outline (click)="toTimeline()">
                Next
                <ion-icon name="arrow-dropright"></ion-icon>
              </button>
            </ion-row>

          </ion-card-content>
        </ion-card>

        <ion-col col-xl-4 offset-xl-2>
          <ion-card class="cards">
            <ion-card-header class="headers" text-center>
              Build Your Network
            </ion-card-header>

            <ion-card-content>
              <p class="networkingAdvice">People who are truly successful commit themselves continuously to learning and
                improving themselves. Are you
                a 10 - committed to learning as much as you can about life? Are you constantly experiencing new
                opportunities?
                Do you regularly read to learn and grow? Are you open to improving and stretching yourself? The fact
                that
                you
                are reading this demonstrates a certain level of commitment to develop yourself so you are not a 1 or
                even
                a 2.</p>

              <div class="networkImages">
                <img id="networkingImage" src="../../assets/imgs/Networking.jpg">
                <img id="networkingImage" src="../../assets/imgs/Networking2.jpg">
                <img id="networkingImage" src="../../assets/imgs/Networking3.jpg">
                <img id="networkingImage" src="../../assets/imgs/Networking4.jpg">
              </div>

              <br>

              <ion-row class="buttonRules" justify-content-end>
                <button ion-button outline icon-end>
                  Learn more
                  <ion-icon name="arrow-dropright"></ion-icon>
                </button>
              </ion-row>

            </ion-card-content>
          </ion-card>
        </ion-col>

      <div class="feedgrabbr_widget" id="fgid_6df9b0bc92d7670f82a1d8650"></div>
      </ion-col>

      <ion-col col-xl-4>
        <ion-card class="news cards">
          <ion-card-header class="headers" text-center>
            Veterans Affairs News
          </ion-card-header>
          <ion-card-content>
            <news-widget></news-widget>
          <br>
            <ion-row justify-content-end>
              <button ion-button icon-end outline (click)="toNews()">
                More
                <ion-icon name="arrow-dropright"></ion-icon>
              </button>
            </ion-row>
          </ion-card-content>

        </ion-card>


        <ion-col col-xl-4>
          <ion-card class="cards">
            <ion-card-header class="headers" text-center>
              Transition Readiness Test
            </ion-card-header>
            <ion-card-content *ngIf="!prevAssess">

              <h4 class="actionItemText">Please complete a Self Assessment</h4>

              <ion-row justify-content-end>
                <button margin-top ion-button outline icon-end (click)="toSelfAssessment()">
                  Take assessment
                  <ion-icon name="arrow-dropright"></ion-icon>
                </button>

              </ion-row>


            </ion-card-content>

            <ion-card-content *ngIf="prevAssess">
              <ion-grid>
                <ion-row align-items-center>
                  <ion-col col-6 align-self-center>
                    <chart></chart>
                  </ion-col>
                  <ion-col class="graphDescriptionWrapper" col-6 align-self-start>
                    <p><strong>What is this?</strong></p>
                    <p class="graphDescription">The graph to the left is a visual depiction of your more recent
                      self-assessment.</p>
                      <br>
                    <p>Hover over each area for more detail!</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-col>

    </ion-row>


    <div class="feedgrabbr_widget" id="fgid_6df9b0bc92d7670f82a1d8650"></div>

  </ion-grid>
</ion-content>