page-resource-modal {

}

#close {
    color:#ffffff;
    background-color: rgb(46,66,86);
    font-size: 30px;
}

#header-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
}

#card-text {
    font-size: 20px;

}

#exit {
    margin-left: 10px;
    margin-top: 10px;
}
