page-profile {
    .toolbar-background {
        background-color: #19334d;
    }

    .toolbar-title-md {
        color: white;
    }

    .title-color {
        color: white;
    }

    ion-icon {
        font-size: 200px;
    }

    .name {
        font-size: 30px;
    }

}
