<ion-header class="title">
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button class="title-color" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
        <ion-col pull-3 text-center>
          <ion-title class="title-color">Profile</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="section" justify-content-center>
      <ion-col class="user-info-colum" align-self-center>
        <ion-list>
          <ion-row justify-content-center>
            <ion-col col-12 col-md-4 col-xl-2 text-center>
              <ion-icon id="pic-con" name="contact"></ion-icon>
            </ion-col>
          </ion-row>

          <div class="buttons-div">
            <button *ngIf="!editing" class="edit-button" item-end ion-button icon-only clear (click)="allowEdit()">
              <ion-icon name="create" item-end></ion-icon>
            </button>

            <button *ngIf="editing" class="confirm-button" item-right ion-button icon-only clear (click)="updateProfile()">
              <ion-icon name="checkbox-outline" item-end></ion-icon>
            </button>

          </div>
          <ion-card>
            <ion-card-content class="user-info-content" *ngIf="!editing">
              <ion-item class="user-info-details">
                <span item-start>First Name</span> <span item-end>{{ user.userData.first }}</span>
              </ion-item>
              <ion-item class="user-info-details">
                <span item-start>Last Name</span> <span item-end>{{ user.userData.last }}</span>
              </ion-item>
              <ion-item class="user-info-details">
                <span item-start>Email</span> <span item-end>{{ user.userData.email }} </span>
              </ion-item>
              <ion-item class="user-info-details">
                <span item-start>Marital Status</span> <span item-end>{{ user.userData.maritalstatus }} </span>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content class="user-info-content" *ngIf="editing">
              <ion-item class="user-info-details">
                <ion-label stacked>First Name</ion-label>
                <ion-input type="text" [(ngModel)]="user.userData.first"></ion-input>
              </ion-item>
              <ion-item class="user-info-details">
                <ion-label stacked>Last Name</ion-label>
                <ion-input type="text" [(ngModel)]="user.userData.last"></ion-input>
              </ion-item>
              <ion-item class="user-info-details">
                <ion-label stacked>E-mail</ion-label>
                <ion-input type="text" [(ngModel)]="user.userData.email"></ion-input>
              </ion-item>
              <ion-item class="user-info-details">
                <ion-label stacked>Marital Status</ion-label>
                <ion-input type="text" [(ngModel)]="user.userData.maritalstatus"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <br>
          <br>
          <ion-card>
            <ion-card-content class="user-info-content" *ngIf="!editing">
              <ion-item class="user-info-details">
                <span item-start>Employment Status</span> <span item-end>{{ user.userData.employmentStatus }}</span>
              </ion-item>
              <ion-item class="user-info-details">
                <span item-start>Last Employed</span> <span item-end>{{ user.userData.lastEmployed }}</span>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content class="user-info-content" *ngIf="editing">
              <ion-item class="user-info-details">
                <ion-label stacked>Employment Status</ion-label>
                <ion-input type="text" [(ngModel)]=" user.userData.employmentStatus"></ion-input>
              </ion-item>
              <ion-item class="user-info-details">
                <ion-label stacked>Last Employed</ion-label>
                <ion-input type="text" [(ngModel)]=" user.userData.lastEmployed"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <br>
          <br>
          <ion-card>
            <ion-card-content class="user-info-content" *ngIf="!editing">
              <ion-item class="user-info-details">
                <span item-start>Branch</span> <span item-end>{{ user.userData.branch }}</span>
              </ion-item>
              <ion-item class="user-info-details">
                <span item-start>Active Status</span> <span item-end>{{ user.userData.activeStatus }}</span>
              </ion-item>
              <ion-item class="user-info-details">
                <span item-start>Separation Date</span> <span item-end>{{ user.userData.separationDate }} </span>
              </ion-item>
              <ion-item class="user-info-details">
                <span item-start>Service Disability</span> <span item-end>{{ user.userData.serviceDisability }} </span>
              </ion-item>
              <ion-item class="user-info-details">
                <span item-start>Disability Rating</span> <span item-end>{{ user.userData.disabilityRating }}</span>
              </ion-item>
              <ion-item class="user-info-details">
                <span item-start>Military Rank</span> <span item-end>{{ user.userData.militaryRank }} </span>
              </ion-item>
              <ion-item class="user-info-details">
                <span item-start>MOS/NEC</span> <span item-end>{{ user.userData.mosNec }} </span>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content class="user-info-content" *ngIf="editing">
              <ion-item class="user-info-details">
                <ion-label stacked>Branch</ion-label>
                <ion-input type="text" [(ngModel)]=" user.userData.branch"></ion-input>
              </ion-item>
              <ion-item class="user-info-details">
                <ion-label stacked>Active Status</ion-label>
                <ion-input type="text" [(ngModel)]=" user.userData.activeStatus"></ion-input>
              </ion-item>
              <ion-item class="user-info-details">
                <ion-label stacked>Separation Date</ion-label>
                <ion-input type="text" [(ngModel)]=" user.userData.separationDate"></ion-input>
              </ion-item>
              <ion-item class="user-info-details">
                <ion-label stacked>Service Disability</ion-label>
                <ion-input type="text" [(ngModel)]=" user.userData.serviceDisability"></ion-input>
              </ion-item>
              <ion-item class="user-info-details">
                <ion-label stacked>Disability Rating</ion-label>
                <ion-input type="text" [(ngModel)]=" user.userData.disabilityRating"></ion-input>
              </ion-item>
              <ion-item class="user-info-details">
                <ion-label stacked>Military Rank</ion-label>
                <ion-input type="text" [(ngModel)]=" user.userData.militaryRank"></ion-input>
              </ion-item>
              <ion-item class="user-info-details">
                <ion-label stacked>MOS/NEC</ion-label>
                <ion-input type="text" [(ngModel)]=" user.userData.mosNec"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
