page-profile {
    .toolbar-background {
        background-color: #19334d;
    }

    .toolbar-title-md {
        color: white;
    }

    .title-color {
        color: white;
    }

    ion-icon {
        font-size: 200px;
    }

    .name {
        font-size: 30px;
    }
    .section {
        margin-top: 20px;
    }
    .label, user-info {
        font-size: 20px;
        color: black;
         overflow: hidden; 
         text-overflow: clip;
         padding: 10px;
    }
    .label {
        margin: auto;
        min-width: 100px;
    }

    .user-info {
        margin-left: 20%;
        position: relative;
    }
    .user-info-colum {
       width: 80%; 
       margin: auto;
       max-width: 500px;
    }
    .buttons {
       
        //display: block;
       // margin: 10px;
    } 
    .buttons-div {
        display: flex;
        justify-content: center;
    }
    .buttons1 {
        width: 100px;
        margin: 10px 10px auto 10px;
    }
   
    @media screen and (min-width: 768px) {
        .name {
            font-size: 50px;
        }
        label, user-info {
            font-size: 40px;
        }
        ion-icon {
            font-size: 250px;
            margin-bottom: -30px;  
        }
        .section {
            margin-top: 40px;
        }
        .user-info-colum {
            width: 40%; 
            max-width: 500px;
        }
        .buttons1 {
            width: 140px;
            height: 50px;
            margin: 20px 20px auto 20px;
            font-size: 20px;
           
        }
    }

}
