page-profile {

    .wrapper {
        max-width: 960px;
        margin: auto
    }
    
    .invalid-email {
        color: red;
        text-align: center;
    }

    .edit-button:hover {
        // padding-right: 15px;
    }

    .name {
        font-size: 30px;
    }
    .section {
        margin-top: 20px;
    }
    .label, user-info {
        font-size: 20px;
        color: black;
        overflow: hidden; 
        text-overflow: clip;
        padding: 10px;
    }

    .label {
        margin: auto;
        min-width: 100px;
    }

    .user-info {
        margin-left: 20%;
        position: relative;
        
    }
    .user-info p{
        font-size: 20px;
    }
    .user-info-colum {
       width: 80%; 
       margin: auto;
       max-width: 500px;
    }

    .buttons {
       
        //display: block;
       // margin: 10px;
    } 
    .buttons-div {
        display: flex;
        justify-content: center;
    }
    .buttons1 {
        width: 120px;
        margin: 10px 10px auto 10px;
        font-size: 18px;
    }

    .profIcon {
        display: flex;
        justify-content: center;
    }

    .pic-con {
        font-size: 250px;
        align-self: center;
    }
   
    @media screen and (min-width: 768px) {
        .name {
            font-size: 50px;
        }
        .label, .user-info p {
            font-size: 25px;
        }

        .section {
            margin-top: 40px;
        }
        .user-info-colum {
            width: 40%; 
            max-width: 500px;
        }
        .buttons1 {
            width: 150px;
            height: 50px;
            margin: 20px 20px auto 20px;
            font-size: 20px;
           
        }
    }

}