page-timeline {
    #content {
        h1 {
            text-align: center !important;
            padding-left: 5%;
        }

        p {
            padding: 0px 5%;
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
    }
}
