// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

//ToastController width
$toast-max-width: 1000px;
.toaster{
  text-align: center;
}

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

$toolbar-background: rgb(46,66,86);

$range-ios-knob-background-color: rgb(76, 122, 223);
$range-ios-bar-height: 3px;
$range-ios-tick-width: 5px;
$range-ios-tick-height: 12px;
$range-ios-knob-width: 30px;
$range-ios-knob-height: 30px;
$range-ios-pin-font-size: 30px;
$range-ios-pin-padding-bottom: -1px;
$range-ios-slider-height: 100px; 

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #2e4256,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// $alert-min-width: (	
//   70%);	
// // Minimum width of the alert

// $alert-max-width: (
//   200px);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
