<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>History</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class='wrapper'>
    <ion-row>
      <ion-col col-12>
        <ion-card class='round-card'>
          <ion-card-content class='card-align'>
            <h1>Self Assessment History</h1>
            <ion-grid col-6>
              <ion-row>
                <ion-col col-6>
                  <p class='small-label'>Name: </p>
                </ion-col>
                <ion-col col-6>
                  <p class='small-label'>First Started: </p>
                </ion-col>
                <ion-col col-6>
                  <p class='small-label'>Seperation Date:</p>
                </ion-col>
                <ion-col col-6>
                  <p class='small-label'>Last Updated:</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel fringilla dui, sed malesuada nibh. </p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <p class='small-label'>Most Improved: </p>
                  <h2>Career</h2>
                </ion-col>
                <ion-col col-4>
                  <p class='small-label'>Highest Score: </p>
                  <h2>9</h2>
                </ion-col>
                <ion-col col-4>
                  <p class='small-label'>Next Test Date: </p>
                  <h2>01/01/19</h2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>
                  <p class='small-label'>Tests Taken: </p>
                  <h2>25</h2>
                </ion-col>
                <ion-col col-4>
                  <p class='small-label'>Lowest Score: </p>
                  <h2>1</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card class='round-card' padding>
          <ion-card-content>
          <canvas id="lineChart" #lineChart></canvas>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
      <ion-card class='round-card' padding>
        <ion-card-content>
          <table id="self-assessment-table">
            <tr>
              <td></td>
              <th scope="col" *ngFor="let label of labels">{{label}}</th>
            </tr>
            <tr *ngFor="let date of history; let odd = odd; let even = even" [ngClass]="{odd: odd, even:even}">
              <th>{{date.date}}</th>
              <td *ngFor="let val of date.value">{{val}}</td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>