<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col padding>
        <ion-card padding>
          <ion-card-header>
          <ion-card-title >Self Assessment History</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          <canvas id="lineChart" #lineChart></canvas>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-card padding>
          <ion-card-header>
        <ion-card-title>Self Assessments Over Time</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <table id="self-assessment-table">
            <tr>
              <td></td>
              <th scope="col" *ngFor="let label of labels">{{label}}</th>
            </tr>
            <tr *ngFor="let date of history; let odd = odd; let even = even" [ngClass]="{odd: odd, even:even}">
              <th>{{date.date}}</th>
              <td *ngFor="let val of date.value">{{val}}</td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>