// http://ionicframework.com/docs/theming/

.branchRadio .alert-wrapper{
   // background-color: blue;
    width: 40vw;
    max-width: 500px;
    //height: 50vw;
    font-size: 20px;
    //font-size: 50px;
}

@media screen and (min-width: 765)  {
    .branchRadio .alert-wrapper{
        font-size: 50px;
    } 
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
