page-resources {

}

#title {
    font-size: 24px;
    text-align: center;
}

#score-box {
    margin: auto;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border-radius: 10%;

}

#card-text {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 18px;
    
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

#resource {
    margin-left: 20px;
    font-size: 100px;
}

button {
    background-color : rgb(46, 66, 86);

}
