page-resources {

    .title {
        font-size: 24px;
        text-align: center;
    }

    .score-box {
        margin: auto;
        width: 50px;
        height: 30px;
        font-size: 20px;
        border-radius: 10%;

    }

    .card-text {
        margin-left: 60px;
        margin-right: 60px;
        font-size: 18px;

    }

    .red {
        color: red;
    }

    .button-color {
        background-color : rgb(46, 66, 86);
        width: 100%;
    }

    .card{
        border-radius: 12px;
    }

    .card-header{
        font-size: 24px;
        text-align: center;
        font-weight: bold;
        background-color: lightblue;
        padding: 16px;
    }

    .card-body{
        font-size: 18px;
    }

    .chart{
        max-width: 400px;
    }

    .wrapper{
       max-width: 960px;
       margin: auto
    }

    .lowest-card{
        display:flex;
        flex-direction: column;
    }
}
