<!--
  Generated template for the ResourcesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resources</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1 id="title">
    Hello, {{user.firstName}}{{user.lastName}}!
  </h1>
    <ion-card>
      <ion-card-content id="card-text">
          This page will provide helpfull resources to aid in your transition. Based on your self assessment, here are some areas which might need more help than others.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header id='title'>
          Your lowest score on self assessment <br>
          {{user.lowScoreName}}
      </ion-card-header>
      <ion-card-content id="title">
        <ion-card id="score-box">
          <div (click)="openModal()" *ngIf="user.lowestScore <= 3" class="red"> {{user.lowestScore}}</div>
          <div *ngIf="user.lowestScore > 4" class="yellow"> {{user.lowestScore}}
          </div>
        </ion-card>
        Maybe you can start here?
      </ion-card-content>

    </ion-card>

    <ion-card *ngFor="let res of resources">
        <ion-card-header id='title'>
          {{res.title}}
        </ion-card-header>
      
        <ion-card-content id="card-text">
          {{res.message}}
          <ion-item id="card-text">
            <span item-end>
              <a (click)="openModal()">Learn more...</a>
            </span>
          </ion-item>
        </ion-card-content>
      </ion-card>
</ion-content>
