page-news {

  .social-cards ion-col {
  }

  #separationLink {
    padding: 20px;
    font-size: 15px;
  }

  #linkArrow {
    position: relative;
    padding: 2px;
    top: 6px;
    font-size: 30px;
  }

  #heading {
    padding: 100px;
  }

  #newsTitle {
    text-align: center;
  }

  #news {
    padding-bottom: 5%;
  }

  .timestamp {
    font-size: 12px;
    text-indent: 7px;
  }

  .title {
    text-indent: 6px;
  }

  h1 {
    word-wrap: break-word;
  }

  img {
    position: relative;
    left: 8px;
    padding: 8px;
    border-radius: 20px;
    width: 25%;
    height: 25%;
  }

  .article {
    border-radius: 20px;
  }



}
