page-news {
 
    ion-content {
        // margin-top: 56px;
    }
    .social-cards ion-col {
        padding: 0;
      }
      #separationLink {
        padding: 20px;
        font-size: 15px;
    }
    img {
        padding: 10px;
    }
  #news {
      padding-bottom: 5%;
  }
  .timestamp {
      font-size: 12px
  }
  .title {

  }

  h1 {
    word-wrap:break-word;
  }
    
}
