page-news {

  .social-cards ion-col {
    padding: 0;
  }

    #separationLink {
      padding: 20px;
      font-size: 15px;
    }
  #heading {
    padding: 100px;
  }

  #news {
    padding-bottom: 5%;
  }

  .timestamp {
    font-size: 12px;
    text-indent: 7px;
  }

  .title {
    text-indent: 6px;
  }

  h1 {
    word-wrap: break-word;
  }

  img {
    position: relative;
    left: 8px;
    padding: 8px;
  }



}
