timeline {

    h2{
        padding-bottom: 15px;
    }

    .label-ios{
        margin: auto !important;
    }

    
}

.cd-timeline__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    z-index: 1000;
    border-radius: 50%;
    // -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    //         box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  

  .cd-timeline__img.cd-timeline__img--5 {
    background: #64c5b1;
  }

  .item-ios h2:last-child, .item-ios h3:last-child, .item-ios h4:last-child, .item-ios h5:last-child, .item-ios h6:last-child, .item-ios p:last-child {
      padding-left: 3%;
  }

  .item-ios{
      background-color: transparent !important;
      padding-left: 10px !important;
  }
  
  .item-checkbox {
      margin-left: 10%;
  }

.border-thingy {
    padding-left: 5%;
}
.timeline {
    margin-top: 30px;
    padding: 0;
    position: relative;
    background-image: url('../assets/imgs/blueline.png');
    background-repeat: repeat-y;
    background-position: 6.2% top;

    timeline-item {
      position: relative;
      display: inline-block;

      timeline-time {
        display: block;
        width: 20%;
        padding-right: 50px;
        position: absolute;
        span {
          display: block;
          text-align: right;
          &:last-child {
            font-size: 2.9em;
            color: #3594cb;
          }
        }
      }
      /* Right content */
      ion-card {
        margin-left: 25% !important;
        width: 75% !important;
        position: relative;
      }
      ion-icon {
        width: 40px;
        height: 40px;
        font-size: 1.4em;
        position: absolute;
        color: #fff;
        background: #46a4da;
        border-radius: 50%;
        box-shadow: 0 0 0 8px #afdcf8;
        text-align: center;
        left: 20%;
        top: 0;
        margin: 0 0 0 -25px;
        line-height: 40px;
        &:after {
            left: 46px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-left-color: #afdcf8;
            border-width: 10px;
            top: 10px;
          }
      }
        &:last-child{
          width: 100%;
          ion-icon{
            box-shadow: none;
            &:after{
              border-width: 0;
            }
          }
        }
    }

    @media screen and (min-width:1024px){
        background-position: 5.89% top;
    }

    @media screen and (min-width:1360px){
        background-position: 5.7% top;
    }

    .list-ios, .item-block, .item-inner {
        border-bottom: none !important;
        border-top: none !important;
    }

    .list-ios {
        margin: -1px 0 15px !important;
    }


    .item.item-md .checkbox-md {
        margin: -6px 14px 8px -35px !important;
        padding-left: 4%;
        padding-top: 2%;
    }

    .checkbox-ios {
        margin: -6px 14px 8px -35px !important;
        padding-left: 4%;
        padding-top: 2%;
    }

    .item-ios h2:last-child, .item-ios h3:last-child, .item-ios h4:last-child, .item-ios h5:last-child, .item-ios h6:last-child, .item-ios p:last-child {
        padding-left: 6% !important;
    }
        


 
  }