<!-- Generated template for the TimelineComponent component -->

<div class ="saveButton">
    <button class = "saveButtonButton" ion-button round (click)="trackProgress(); saveTimeline()"><strong>Save Progress</strong></button>
  </div>
  <!-- // [color]="primary" -->

<div class="timeline">
    
    <ion-list class="border-thingy" text-wrap>
        <ng-template #recursiveList let-list>
          <ion-list *ngFor="let item of list">

            <div class="subLists">
              <ion-item *ngIf="!item.checkmark" (click)="toggleItem(item)" no-padding text-wrap>
                  <div *ngIf="item.dot" class="cd-timeline__img cd-timeline__img--5"></div>
                  <h2 [ngClass]="{'cd-timeline--top-level': item.topLevel, 'cd-timeline--sectionDone': item.areAllStepsCompleted}"><strong>{{item.title}}</strong></h2>
              </ion-item>
            </div>
            
            <!-- Bullet items -->
            <ion-item *ngIf="item.checkmark" no-padding text-wrap>
              <ion-label>{{item.title}} {{item.completed}}</ion-label>
              <ion-checkbox (ionChange)="updateCompleted(item)" color="dark" class="bulletItem" [checked]="item.completed" ></ion-checkbox>
            </ion-item>

            <ion-item *ngIf="item.itemExpand && item.children.length > 0 && !item.checkmark" text-wrap>
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
            </ion-item>

          </ion-list>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
    </ion-list>


</div>