<!-- Generated template for the NewsWidgetComponent component -->

<div id="news">
  <ion-card>

    <ion-item *ngIf="this.rss.newsArray.length > 0" text-wrap>
      <h1 class="title">{{this.rss.newsArray[0].title}}</h1>
      <h4 class="timestamp">{{this.rss.newsArray[0].pubDate}}</h4>
    </ion-item>
    <ion-row>

      <img id="picture" src="" alt="news picture">

      <ion-col>
        <ion-card-content *ngIf="this.rss.newsArray.length > 0">
          <div id="summary">{{this.sumText}}
            <a id="separationLink" (click)="this.rss.openLink(link)">Read full article
                <ion-icon class="linkIcons" name="arrow-round-forward"></ion-icon>
              </a>
          </div>
    </ion-card-content>
    </ion-col>
    </ion-row>


  </ion-card>

</div>
