news-widget {

   
      .timestamp {
        font-size: 12px;
        text-indent: 13px;
      }
    
      .title {
        text-indent: 12px;
      }
    
      h1 {
        word-wrap: break-word;
      }
    
      img {
        max-height: 30%;
        max-width: 30%;
        position: relative;
        left: 14px;     
        padding: 4px;
       }
      div {
        zoom: 0.9;
      }
      .card {
        //  background-color: rgba(255,255,255,0.5); 
         border-radius: 8px;
    }
    #separationLink {
      font-size: 12px;
      position: absolute;
        }
    
     
}
