<!-- Generated template for the NewsWidgetComponent component -->

<div id="news">
  <ion-card *ngIf="this.rss.newsArray.length > 0">

    <ion-item  text-wrap>
      <h1 class="title">{{this.rss.newsArray[0].title}}</h1>
      <h4 class="timestamp">{{this.rss.newsArray[0].date}}</h4>
    </ion-item>
    <ion-row>

      <img src={{this.rss.newsArray[0].picture}} alt="news picture">

      <ion-col>
        <ion-card-content *ngIf="this.rss.newsArray.length > 0">
          <div id="summary">{{this.rss.newsArray[0].sumText}}
          </div>
          <a justify-content-start id="separationLink" (click)="this.rss.openLink(this.rss.newsArray[0].link)" style="font-size: 12px">Read full article
              <!-- <ion-icon class="linkIcons" name="arrow-round-forward"></ion-icon> -->
            </a>
    </ion-card-content>
    </ion-col>
    </ion-row>


  </ion-card>

</div>
