page-wizard {
    ion-slide {
        background-color: rgb(117, 197, 74);
      }
      ion-slide.swiper-slide {
        align-items: flex-start;
    }
    .top {
        position: relative;
        display: block;
        width: 70%;
        margin: auto;
        font-size: 22px;
        top: 20px;
    }
    #dashImg {
        width: 70%;
        height: 80%;
    }

    #self {
        width: 70%;
        height: 70%;
    }
    #time {
        width: 80%;
    }
    img {
        margin-top: 10px;
    }
    .buttons {
        position: relative;
        margin-top: 100px; 
    }
    .button1{
        width: 200px;
        background-color: rgb(26, 39, 71);
    }
}
