  
  <div class="ifUndefined headers" *ngIf="assessDate < 0 || assessDate === undefined">
    {{ this.name }}, please refer to the link below to take your first assessment.
  </div>

  <div class="headers" text-center *ngIf="assessDate">
    {{ this.name }}, it's been <u>{{assessDate}}</u> days since your last assessment.
  </div>

  <div class="warningMeter">
    <div class="box good" [ngClass]="{'grow': assessDate < 7}">
      <span class="range">1-6</span>
    </div>
    <div class="box weak" [ngClass]="{'grow': assessDate >= 7 && assessDate < 12}">
      <span class="range">7-11</span>
    </div>
    <div class="box poor" [ngClass]="{'grow': assessDate >= 12 && assessDate < 20}">
      <span class="range">12-20</span>
    </div>
    <div class="box danger" [ngClass]="{'grow': assessDate >= 20}">
      <span class="range">20+</span>
    </div>
  </div>

  